body{
    background-color: #282828;
}
.content-all {
    max-width: 1280px;
    margin: 0 auto;
}
.header-section{
    background-color: #525ea7;
    padding: 55px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-section__about{
    display: flex;
}
.header-section__img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-right: 50px;
}
.header-section__text{
    font-size: 35px;
    font-weight: bold;
    

}
.header-section__text_small{
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
 
}
.header-section__contact{
    font-size: 15px;
    
}
.header-section__item{
    display: flex;
    margin-bottom: 30px;
}
.header-section__contact-img{
    height: 15px;
    
}
.header-section__contact-text{
    margin-left: 20px;
    }
.header-section__img_type_adr{
    margin: 0 3px 0 2px;
}
.header-section__img_type_web{
    margin-left: 1px;
}
.header-section__img_type_adr{
    margin: -1px 1px 0 2px;
}