body{
    background-color: #282828;
}
.content-all {
    max-width: 1280px;
    margin: 0 auto;
}
.header-section{
    background-color: #525ea7;
    padding:35px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    color: white;
}
.header-section__about{
    display: flex;
}
.header-section__img{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin-right: 50px;
}
.header-section__text{
    font-size: 35px;
    font-weight: bold;
    

}
.header-section__text_small{
    font-size: 20px;
    font-weight: normal;
    margin-top: 30px;
 
}
.header-section__contact{
    font-size: 15px;
    
}
.header-section__item{
    display: flex;
    margin-bottom: 30px;
}
.header-section__contact-img{
    height: 15px;
    
}
.header-section__contact-text{
    margin-left: 20px;
    }
.header-section__img_type_adr{
    margin: 0 3px 0 2px;
}
.header-section__img_type_web{
    margin-left: 1px;
}
.header-section__img_type_adr{
    margin: -1px 1px 0 2px;
}
.section-main{
    background-color: white;
    display: flex;
    
}
.section-right{
    max-width: 70%;
 
}
.section-left{
    max-width: 30%;
    background-color: #d5d5d5;
   box-sizing: border-box;
    padding: 55px 20px 0 55px;
}
.section-left__title_img{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-right: 30px;
}
.section-left__title_text{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}
.section-left__title{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    
}
.section-left__article_italic{
    font-size: 16px;
    font-style: italic;
    
}
.section-left__item{
    margin-bottom: 30px;
}
.section-left__interests{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.interests__item_img{
    width: 50px;
    height: 50px;
    margin-left: 22px;
    
}
.interests__item_text{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.interests__item{
    position: relative;
    width: 30%;
}
.section-left__list{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}