body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.profile {
    width: 1280px;
    margin: 0 auto;
}
.section {
    padding: 50px;
}

.section_black{
    background-color: #445162;
}
.section_white{
    background-color: white;
}
.section_pink{
    background-color: #f5f5f5;
}
.main-article__title{
    font-size: 60px;
    margin-bottom: 50px;

}
.about-article__title{
    font-size: 30px;
    margin-bottom: 50px;

}
.scren__title{
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
    color: #445161;

}
.plus__title{
    font-size: 30px;
    text-align: center;
    color: #445161;

}
.main-article__item{
    font-size: 20px;
    margin-bottom: 20px;
}
.about-article__item{
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.main-article_white{
    color: white;
}
.about-article_blue{
    color: #445161;
}
.scren-article_blue{
    color: #445161;
}
.plus-article_blue{
    color: #445161;
}
.main__img{
    width: 40%;
}
.about__img{
    width: 35%;
}
.main-section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.abot-section{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.main-article__item::before{
    content: url('../assets/check_icon.png');
    margin-right: 10px;
}

.scren-article__item{
    display: flex;
    flex-flow: row;
    justify-content: space-between;  
    margin-bottom: 30px;
}
.scren-article__item_bot{
    
    margin-bottom: 0px;
}
.scren-article__img{
    width: 35%;
    margin-right: 15px;
}
.scren-article__description-title{
    font-size: 24px;
    margin-bottom: 20px;
}
.scren-article__description-text{
  font-size: 16px;
  line-height: 1.5;  
}
.scren-article__colum{
    width: 50%;
    
}
.plus-article__colum{
    width: 50%;
    display: flex;
    flex-direction: column;
    
}
.scren-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.plus-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.scren-article__description{
    margin-right: 10px;
}
.plus-article__item{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.plus-article__img{
    height: 32px;
    margin-right: 10px;
}
.plus-article__text{
    font-size: 16px;
    line-height: 1.5;
    margin: -5px 20px 0 0;
}